<section class="container info-page small">
  <h6>Neopets Companion</h6>

  <p>
    Track dailies, cooldowns, and repeatable activitiesso you never miss a
    Neopets opportunity.
  </p>

  <ul>
    <li>
      Connect on
      <a
        href="https://www.neopets.com/userlookup.phtml?user=eleorthefool"
        target="_blank"
        >Neopets</a
      >
    </li>
    <li>
      View the source code
      <a
        href="https://github.com/FoolsFlagonStudio/Neopets-Activity-Webtool"
        target="_blank"
        >(GitHub)</a
      >
    </li>
    <li>
      Support development on:
      <a href="https://ko-fi.com/foolsflagon" target="_blank">Ko-fi</a>
    </li>
    <li>
      <a
        href="https://github.com/FoolsFlagonStudio/Neopets-Activity-Webtool/blob/main/PRIVACY.md"
        target="_blank"
        >Privacy Policy</a
      >
    </li>
  </ul>
  <p class="small">
    This extension is fan-made and not affiliated with Neopets, Inc.
  </p>
</section>
