<div class="info-page small">
  <h6>Neopets Companion</h6>

  <p>Track dailies, cooldowns, and repeatable activities.</p>

  <ul>
    <li>
      <a
        href="https://github.com/FoolsFlagonStudio/Neopets-Activity-Webtool"
        target="_blank"
        >GitHub</a
      >
    </li>
    <li><a href="https://ko-fi.com/foolsflagon" target="_blank">Ko-fi</a></li>
    <li>
      <a
        href="https://github.com/FoolsFlagonStudio/Neopets-Activity-Webtool/blob/main/PRIVACY.md"
        target="_blank"
        >Privacy Policy</a
      >
    </li>
  </ul>
</div>
